@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var alldanhmuc = (List<NongSan.Models.DanhMucSanPham>)ViewBag.ListDanhMuc;
    var allproduct = (List<NongSan.Models.SanPham>)ViewBag.ListAllSanPham;
    var newproduct = (List<NongSan.Models.SanPham>)ViewBag.ListSanPhamMoi;
    var featuredproduct = (List<NongSan.Models.SanPham>)ViewBag.ListFeateredProduct;
    var bestseller = (List<NongSan.Models.SanPham>)ViewBag.ListBestSeller;
}

<!-- Add your site or application content here -->
<!--organicfood wrapper start-->
<div class="organic_food_wrapper">
    <!--Slider start-->
    <div class="slider_area">
        <div class="slider_list  owl-carousel">
            <div class="single_slide" style="background-image: url(../assets/img/slider/1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider__content">
                                <p>Exclusive Offer -10% Off This Week</p>
                                <h2>Live <strong>healthy</strong> with a glass</h2>
                                <h3>of <strong>fruit juice</strong> every day</h3>
                                <h6>Starting at<span>$42.99</span></h6>
                                <div class="slider_btn">
                                    <a href="#">Shopping now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slide" style="background-image: url(../assets/img/slider/2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider__content">
                                <p>Exclusive Offer -10% Off This Week</p>
                                <h2>We <strong>provide</strong> the best</h2>
                                <h3> product <strong> for you </strong></h3>
                                <h6>Starting at <span>$42.99</span></h6>
                                <div class="slider_btn">
                                    <a href="/shop">Shopping now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Slider end-->
    <!--Banner area start-->
    <div class="banner_area home1_banner mt-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_banner">
                        <a href="#">
                            <img src="~/assets/img/banner/1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_banner">
                        <a href="#">
                            <img src="~/assets/img/banner/2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_banner banner_three">
                        <a href="#">
                            <img src="~/assets/img/banner/3.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Banner area end-->
    <!--Features product area-->
    <div class="features_product pt-90">
        <div class="container-fluid">
            <div class="col-12">
                <div class="section_title text-center">
                    <h3> Featured products </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features_product_active owl-carousel">
                @foreach (var item in featuredproduct)
                {
                    var url = "/chi-tiet-san-pham-" + item.IDSanPham;
                    <div class="col-lg-2">
                        <div class="single__product">
                            <div class="single_product__inner">
                                <span class="new_badge">Sale</span>
                                <div class="product_img">
                                    <a href="@url">
                                        <img src="~/assets/img/product/@item.Hinh" alt="">
                                    </a>
                                </div>
                                <div class="product__content text-center">
                                    <div class="produc_desc_info">
                                        <div class="product_title">
                                            <h4><a href="@url">@item.TenSanPham</a></h4>
                                        </div>
                                        <div class="product_price">
                                            <p>@string.Format("{0:n0}", @item.DonGia) VND</p>
                                        </div>
                                    </div>
                                    <div class="product__hover">
                                        <ul>
                                            <li><a href="#" idpro=@item.IDSanPham quantity="1" weight="500" class="addcart"><i class="ion-android-cart"></i></a></li>
                                            <li><a class="cart-fore" href="#" data-toggle="modal" data-target="#my_modal" title="Quick View"><i class="ion-android-open"></i></a></li>
                                            <li><a href="@url"><i class="ion-clipboard"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--Features product end-->
    <!--Shipping area start-->
    <div class="shipping_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="shipping_list d-flex justify-content-between flex-xs-column">
                        <div class="single_shipping_box d-flex">
                            <div class="shipping_icon">
                                <img src="~/assets/img/ship/1.png" alt="shipping icon">
                            </div>
                            <div class="shipping_content">
                                <h6>Free Shipping On Order Over $120</h6>
                                <p>Free shipping on all order</p>
                            </div>
                        </div>
                        <div class="single_shipping_box one d-flex">
                            <div class="shipping_icon">
                                <img src="~/assets/img/ship/2.png" alt="shipping icon">
                            </div>
                            <div class="shipping_content">
                                <h6>Money Return</h6>
                                <p>Back guarantee under 7 days</p>
                            </div>
                        </div>
                        <div class="single_shipping_box two d-flex">
                            <div class="shipping_icon">
                                <img src="~/assets/img/ship/3.png" alt="shipping icon">
                            </div>
                            <div class="shipping_content">
                                <h6>Member Discount</h6>
                                <p>Support online 24 hours a day</p>
                            </div>
                        </div>
                        <div class="single_shipping_box three d-flex">
                            <div class="shipping_icon">
                                <img src="~/assets/img/ship/4.png" alt="shipping icon">
                            </div>
                            <div class="shipping_content">
                                <h6>Online Support 24/7</h6>
                                <p>Free shipping on all order</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Shipping area end-->
    <!--shop product area start-->
    <!--Category_product area start-->
    <div class="shop_product shopinindex">
        @{ Html.RenderAction("ShopInIndex", "Home", new { area = "" });}
    </div>
    <!--shop product area end-->
    <!--Banner area start-->
    <div class="banner_area home1_banner2 pb-90">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single_banner">
                        <a href="#">
                            <img src="~/assets/img/banner/big-1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_banner">
                        <a href="#">
                            <img src="~/assets/img/banner/big-2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Banner area end-->
    <!--New product area-->
    <div class="new_product">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section_title space_2 text-left">
                        <h3>New Product</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="features_product_active owl-carousel">
                    @foreach (var item in newproduct)
                    {
                        var url = "/chi-tiet-san-pham-" + item.IDSanPham;
                        <div class="col-lg-2">
                            <div class="single__product">

                                <div class="single_product__inner">
                                    <span class="new_badge">new</span>
                                    <div class="product_img">
                                        <a href="@url">
                                            <img src="~/assets/img/product/@item.Hinh" alt="">
                                        </a>
                                    </div>
                                    <div class="product__content text-center">
                                        <div class="produc_desc_info">
                                            <div class="product_title">
                                                <h4><a href="@url">@item.TenSanPham</a></h4>
                                            </div>
                                            <div class="product_price">
                                                <p>@string.Format("{0:n0}", @item.GiaKhuyenMai) VND</p>
                                            </div>
                                        </div>
                                        <div class="product__hover">
                                            <ul>
                                                <li><a href="#" idpro=@item.IDSanPham quantity="1" weight="500" class="addcart"><i class="ion-android-cart"></i></a></li>
                                                <li><a class="cart-fore" href="#" data-toggle="modal" data-target="#my_modal" title="Quick View"><i class="ion-android-open"></i></a></li>
                                                <li><a href="@url"><i class="ion-clipboard"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--new product end-->
    <!--Banner area start-->
    <div class="banner_area banner_area-2 pb-90">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="single_banner">
                        <a href="#">
                            <img src="~/assets/img/banner/banner-4.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="single_banner">
                        <a href="#">
                            <img src="~/assets/img/banner/banner-5.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="single_banner">
                        <a href="#">
                            <img src="~/assets/img/banner/banner-6.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Banner area end-->
    <!--Best seller product -->
    <div class="new_product">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section_title space_2 text-left">
                        <h3>BestSellers</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="features_product_active owl-carousel">
                    @foreach (var item in bestseller)
                    {
                        var url = "/chi-tiet-san-pham-" + @item.IDSanPham;
                        <div class="col-lg-2">
                            <div class="single__product">

                                <div class="single_product__inner">
                                    <span class="new_badge">new</span>
                                    <div class="product_img">
                                        <a href="@url">
                                            <img src="~/assets/img/product/@item.Hinh" alt="">
                                        </a>
                                    </div>
                                    <div class="product__content text-center">
                                        <div class="produc_desc_info">
                                            <div class="product_title">
                                                <h4><a href="@url">@item.TenSanPham</a></h4>
                                            </div>
                                            <div class="product_ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product_price">
                                                <p>@string.Format("{0:n0}", @item.GiaKhuyenMai) VND</p>
                                            </div>
                                        </div>
                                        <div class="product__hover">
                                            <ul>
                                                <li><a href="#" idpro=@item.IDSanPham quantity="1" weight="500" class="addcart"><i class="ion-android-cart"></i></a></li>
                                                <li><a class="cart-fore" href="#" data-toggle="modal" data-target="#my_modal" title="Quick View"><i class="ion-android-open"></i></a></li>
                                                <li><a href="@url"><i class="ion-clipboard"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--Best seller product  end-->
<!-- modal area start -->
<div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body shop">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="product-flags madal">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="imgeone" role="tabpanel">
                                        <div class="product_tab_img">
                                            <a href="#"><img src="assets/img/cart/nav12.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="imgetwo" role="tabpanel">
                                        <div class="product_tab_img">
                                            <a href="#"><img src="assets/img/cart/nav11.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="imgethree" role="tabpanel">
                                        <div class="product_tab_img">
                                            <a href="#"><img src="assets/img/cart/nav13.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="products_tab_button  modals">
                                    <ul class="nav product_navactive" role="tablist">
                                        <li>
                                            <a class="nav-link active" data-toggle="tab" href="#imgeone" role="tab" aria-controls="imgeone" aria-selected="false"><img src="assets/img/cart/nav.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="tab" href="#imgetwo" role="tab" aria-controls="imgetwo" aria-selected="false"><img src="assets/img/cart/nav1.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link button_three" data-toggle="tab" href="#imgethree" role="tab" aria-controls="imgethree" aria-selected="false"><img src="assets/img/cart/nav2.jpg" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="shop_reviews">
                                    <div class="demo_product">
                                        <h2>Sprite Yoga Straps1</h2>
                                    </div>
                                    <div class="current_price">
                                        <span class="regular">$64.99</span>
                                        <span class="regular_price">$78.99</span>
                                    </div>
                                    <div class="product_information product_modal">
                                        <div id="product_modal_content">
                                            <p>Short-sleeved blouse with feminine draped sleeve detail.</p>
                                        </div>
                                        <div class="product_variants">
                                            <div class="product_variants_item modal_item">
                                                <span class="control_label">Size</span>
                                                <select id="group_1">
                                                    <option value="1">S</option>
                                                    <option value="2" selected="selected">M</option>
                                                    <option value="3">L</option>
                                                </select>
                                            </div>

                                            <div class="quickview_plus_minus">
                                                <span class="control_label">Quantity</span>
                                                <div class="quickview_plus_minus_inner">
                                                    <div class="cart-plus-minus">
                                                        <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                                    </div>
                                                    <div class="add_button add_modal">
                                                        <button type="submit"> Add to cart</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cart_description">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="social-share">
                                <h3>Share this product</h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal area end -->