@model List<NongSan.ViewModels.ItemCartViewModel>
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--breadcrumb area start-->
<div class="breadcrumb_container ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav>
                    <ul>
                        <li>
                            <a href="/">Home ></a>
                        </li>
                        <li>checkout</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb area end-->
<!--Checkout page section-->
<div class="Checkout_page_section">
    <form action="/cart/checkout" method="post" id="frmCheckout">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="customer-login mb-40">
                        <h3>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="#" data-toggle="collapse" data-target="#Returning_customer" aria-expanded="true">Click here to login</a>
                        </h3>
                        <div id="Returning_customer" class="collapse" data-parent="#accordion">
                            <div class="card-bodyfive">
                                <div class="col-lg-4">
                                    <form action="#">
                                        <div class="Returning_cart_body mb-20">
                                            <label for="b_names">Username or email <span>*</span></label>
                                            <input id="b_names" type="text">
                                        </div>
                                        <div class="Returning_cart_body mb-20">
                                            <label for="names">Password  <span>*</span></label>
                                            <input id="names" type="text">
                                        </div>
                                        <div class="Returning_cart_body returning_three login mb-20">
                                            <input value="Login" type="submit">
                                            <label for="remember-me-box">
                                                <input id="remember-me-box" type="checkbox">
                                                Remember me
                                            </label>
                                        </div>
                                        <a href="#">Lost your password?</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout-form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">

                        <h3>Billing Details</h3>
                        <div class="row">
                            <div class="col-12 mb-30">
                                <label for="b_f_name">Name <span>*</span></label>
                                <input @*id="name"*@ required name="name" type="text" maxlength="50">
                            </div>
                            <div class="col-12 mb-30">
                                <label>Address <span>*</span></label>
                                <input placeholder="Street address" required type="text" @*id="address"*@ name="address" maxlength="100">
                            </div>
                            <div class="col-lg-6 mb-30">
                                <label for="b_email">Email Address <span>*</span></label>
                                <input id="email" type="text" required name="email" maxlength="30">
                                <span id="result"></span>
                            </div>
                            <div class="col-lg-6 mb-30">
                                <label>Phone   <span>*</span></label>
                                <input placeholder="Phone Number" required type="text" id="phone" name="phone" maxlength="14">
                                <span id="resultphone"></span>
                            </div>
                            <div class="col-12 mb-30">
                                <label for="c_country">Method of payments <span class="required">*</span></label>
                                <select @*id="payment"*@ name="payment">
                                    <option value="Thanh toán online">Thanh toán online</option>
                                    <option value="Thanh toán khi nhận hàng">Thanh toán khi nhận hàng</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <div class="order-notes">
                                    <label for="order_note">Order Notes</label>
                                    <textarea @*id="order_note"*@ name="order_note" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">

                        <div class="order-wrapper">
                            <h3>Your order</h3>
                            <div class="order-table table-responsive mb-30">
                                @if (Session["order"] != null)
                                {
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product-name">Product</th>
                                                <th class="product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @Model)
                                            {
                                                if (item.SoLuong > 0)
                                                {
                                                    <tr>
                                                        <td class="product-name"> @item.sanpham.TenSanPham <strong> × @item.SoLuong</strong></td>
                                                        <td class="amount">@string.Format("{0:n0}", @item.Gia * @item.SoLuong) VND</td>
                                                    </tr>
                                                }

                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>Order Total</th>
                                                <td id="tongtien"><strong>@string.Format("{0:n0}", @Model.Sum(x => x.SoLuong * x.Gia)) VND</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                }
                            </div>
                            <div class="payment-method">
                                <div class="order-button">
                                    <button type="submit" id="btnsubmitcheckout">Place order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Checkout page section end-->