@model NongSan.Models.SanPham
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var relatedproduct = (List<NongSan.Models.SanPham>)ViewBag.ListRelatedProduct;
}

<!-- primary block area -->
<div class="table_primary_block pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="product-flags">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                            <div class="product_tab_img">
                                <a href="#"><img src="~/assets/img/product/@Model.Hinh" alt=""></a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                            <div class="product_tab_img">
                                <a href="#"><img src="~/assets/img/product/@Model.Hinh" alt=""></a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabthree" role="tabpanel">
                            <div class="product_tab_img">
                                <a href="#"><img src="~/assets/img/product/@Model.Hinh" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="products_tab_button">
                        <ul class="nav product_navactive" role="tablist">
                            <li class="product_button_one">
                                <a class="nav-link active" data-toggle="tab" style="width: 130px; height: 130px" href="#tabone" role="tab" aria-controls="imgeone" aria-selected="false"><img src="~/assets/img/product/@Model.Hinh" alt=""></a>
                            </li>
                            <li>
                                <a class="nav-link" data-toggle="tab" href="#tabtwo" style="width: 130px; height: 130px " role="tab" aria-controls="imgetwo" aria-selected="false"><img src="~/assets/img/product/@Model.Hinh" alt=""></a>
                            </li>
                            <li>
                                <a class="nav-link" data-toggle="tab" href="#tabthree" style="width: 130px; height: 130px " role="tab" aria-controls="imgethree" aria-selected="false"><img src="~/assets/img/product/@Model.Hinh" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="product__details_content">
                    <div class="demo_product">
                        <h2>@Model.TenSanPham</h2>
                    </div>
                    <div class="product_comments_block">
                        <div class="comments_note clearfix">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="comments_advices">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                                        Read reviews (<span>1</span>)
                                    </a>
                                </li>
                                <li><a href="#"><i class="fa fa-pencil"></i>Read reviews </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="current_price" price="@Model.GiaKhuyenMai" id="detail_price">
                        <span>@string.Format("{0:n0}", @Model.GiaKhuyenMai) VND</span>
                    </div>
                    <div class="product_information">
                        <div id="product_description_short">
                            <p>@Model.GioiThieu</p>
                        </div>
                        <div class="product_variants">
                            @*<div class="product_variant_list">
                                    <div class="product_variants_item variants_product">
                                        <span class="control_label">Weight</span>
                                        <select name="group[1]" id="group_1">
                                            <option value="300">300g</option>
                                            <option value="500" selected="selected">500g</option>
                                            <option value="1000">1kg</option>
                                        </select>
                                    </div>
                                </div>*@
                            <div class="quickview_plus_minus">
                                <span class="control_label">Quantity</span>
                                <div class="quickview_plus_minus_inner">
                                    <div class="cart-plus-minus detailpro">
                                        <div class="dec qtybutton">-</div>
                                        <input type="text" value="1" name="qtybutton" class="cart-plus-minus-box">
                                        <div class="inc qtybutton">+</div>
                                    </div>
                                    <div class="add_button">
                                        <button type="submit" idpro="@Model.IDSanPham"> Add to cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-availability">
                                <span id="availability">
                                    <i class="zmdi zmdi-check"></i>
                                    In stock
                                </span>
                            </div>
                            <div class="social-sharing">
                                <span>Share</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="block-reassurance">
                                <ul>
                                    <li>
                                        <img src="assets/img/cart/cart1.png" alt="">
                                        <span>Security policy (edit with Customer reassurance module)</span>
                                    </li>
                                    <li>
                                        <img src="assets/img/cart/cart2.png" alt="">
                                        <span>Delivery policy (edit with Customer reassurance module)</span>
                                    </li>
                                    <li>
                                        <img src="assets/img/cart/cart3.png" alt="">
                                        <span>Return policy (edit with Customer reassurance module)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- primary block end -->
<!-- product page tab -->
<div class="product_page_tab ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_tab_button">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li>
                            <a class=" tav_past active" id="home-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">Description</a>
                        </li>
                        <li>
                            <a class=" tav_past" id="profile-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Information</a>
                        </li>
                        <li>
                            <a class=" tav_past" id="contact-tab" data-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">Reviews</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Description" role="tabpanel">
                        <div class="product-description">
                            <p>@Model.MoTa</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="details" role="tabpanel">
                        <div class="product-details">
                            <div class="product-manufacturer">
                                <a href="#"><img src="assets/img/cart/11.jpg" alt=""></a>
                            </div>
                            <div class="product-reference">
                                <label class="label">Reference </label>
                                <span>demo_10</span>
                            </div>
                            <div class="product-quantities">
                                <label class="label">In stock</label>
                                <span>321 Items</span>
                            </div>
                            <div class="product-out-of-stock">
                                <section class="product-features">
                                    <h3>Data sheet</h3>
                                    <dl class="data-sheet">
                                        <dt class="name">Compositions</dt>
                                        <dd class="value">Viscose</dd>
                                        <dt class="name">Styles</dt>
                                        <dd class="value">Dressy</dd>
                                        <dt class="name">Properties</dt>
                                        <dd class="value">Short Dress</dd>
                                    </dl>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Reviews" role="tabpanel">
                        <div class="product_comments_block_tab">
                            <div class="comment_clearfix">
                                <div class="comment_author">
                                    <span>Grade </span>
                                    <div class="star_content clearfix">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="comment_author_infos">
                                    <strong>posthemes </strong>
                                    <br>
                                    <em>05/08/2018</em>
                                </div>
                                <div class="comment_details">
                                    <h4>Demo</h4>
                                    <p>themes</p>
                                </div>
                                <div class="review">
                                    <p><a href="#">Write your review !</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product page tab end -->
<!--Features product area-->
<!--New product area-->
<div class="new_product new_product_three">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title space_2 text-left">
                    <h3>Retated Product</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features_product_active_three owl-carousel">
                @foreach (var item in relatedproduct)
                {
                    var url = "/chi-tiet-san-pham-" + item.IDSanPham;
                    <div class="col-lg-2">
                        <div class="single__product">
                            <div class="single_product__inner">
                                <span class="new_badge">new</span>
                                <div class="product_img">
                                    <a href="@url">
                                        <img src="assets/img/product/@item.Hinh" alt="">
                                    </a>
                                </div>
                                <div class="product__content text-center">
                                    <div class="produc_desc_info">
                                        <div class="product_title">
                                            <h4><a href="@url">@item.TenSanPham</a></h4>
                                        </div>
                                        <div class="product_price">
                                            <p>@string.Format("{0:n0}", @item.GiaKhuyenMai) VND</p>
                                        </div>
                                    </div>
                                    <div class="product__hover">
                                        <ul>
                                            <li><a href="#" idpro=@item.IDSanPham quantity="1" weight="500" class="addcart"><i class="ion-android-cart"></i></a></li>
                                            @*<li><a class="cart-fore" href="#" data-toggle="modal" data-target="#my_modal" title="Quick View"><i class="ion-android-open"></i></a></li>*@
                                            <li><a href="@url"><i class="ion-clipboard"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!--new product end-->
<!--Features product end-->