@model  IEnumerable<NongSan.Models.SanPham>
@{
    ViewBag.Title = "San pham danh muc";
    var totalpage = ViewBag.Count;
}

<div class="tab_product_wrapper">
    <div class="tab-content">
        <!--- shop grid start-->
        <div class="tab-pane fade show active" id="shop_active">
            <div class="row">
                @foreach (var item in Model)
                {
                    var url = "/chi-tiet-san-pham-" + item.IDSanPham;
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single__product">
                            <div class="single_product__inner">
                                <span class="new_badge">Organic</span>
                                <span class="discount_price">sale</span>
                                <div class="product_img">
                                    <a href="@url">
                                        <img src="~/assets/img/product/@item.Hinh" alt="">
                                    </a>
                                </div>
                                <div class="product__content text-center">
                                    <div class="produc_desc_info">
                                        <div class="product_title">
                                            <h4><a href="product-details.html">@item.TenSanPham</a></h4>
                                        </div>
                                        <div class="product_price">
                                            <p>@string.Format("{0:n0}", @item.GiaKhuyenMai) VND</p>
                                        </div>
                                    </div>
                                    <div class="product__hover">
                                        <ul>
                                            <li><a href="#" idpro=@item.IDSanPham quantity="1" weight="500" class="addcart"><i class="ion-android-cart"></i></a></li>
                                            @* <li><a class="cart-fore" href="#" data-toggle="modal" data-target="#my_modal" title="Quick View"><i class="ion-android-open"></i></a></li>*@

                                            <li><a href="@url"><i class="ion-clipboard"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!--- phan trang-->
<div class="shop_pagination">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 col-sm-6">
            @*<div class="total_item_shop">
            Showing 13-14 of 14 item(s)
        </div>*@
        </div>
        <div class="col-lg-6 offset-lg-2 col-md-6 col-sm-6">
            <div class="page_list_clearfix text-center">
                <ul>
                    <li class="prev"><a href="#"><i class="zmdi zmdi-chevron-left"></i> Previous</a></li>
                    @for (var i = 1; i <= totalpage; i++)
                    {
                        var active = string.Empty;
                        if (i == 1)
                        { active = "current_page"; }

                        <li class="page-item @active">
                            <a href="#" data-page="@i">@i</a>
                        </li>

                    }
                    <li class="next"><a href="#" data-max-page="@totalpage"> Next <i class="zmdi zmdi-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>